.content {
  padding-left: 6rem;
  padding-top: 3rem;
  height: 100%;
  overflow-y: auto;
}

.contentWrapper {
  --popularBooksMarginRight: 6.25rem;
  gap: 4rem;
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: 1fr calc(300px + var(--popularBooksMarginRight));
}

.bookReviewList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.userInfoAndStats {
  margin-right: var(--popularBooksMarginRight);
  display: flex;
  flex-direction: column;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInfo img {
  border-radius: var(--radii-full);
}

.userName {
  margin-top: 1.25rem;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-weight: var(--font-weight-bold);
}

.userJoinedDate {
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
  font-weight: var(--font-weight-regular);
}

.divider {
  width: 32px;
  height: 4px;
  margin: 2rem 0;
  background: var(--gradient-horizontal);
  align-self: center;
}

.userStats {
  display: flex;
  gap: 2.5rem;
  padding: 1.25rem 3.5rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 1280px) {
  .content {
    padding-left: 2rem;
  }

  .userInfoAndStats {
    margin-right: 0;
  }

  .contentWrapper {
    gap: 2rem;
    grid-template-columns: 1fr 300px;
  }
}

@media screen and (max-width: 1024px) {
  .contentWrapper {
    grid-template-columns: 1fr;
  }

  .userInfoAndStats {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .divider {
    margin: unset;
    margin-top: 1rem;
  }
}
