.main {
  display: grid;
  grid-template-columns: 232px 1fr;
  height: 100%;
}

.content {
  padding-left: 6rem;
  padding-right: 4rem;
  padding-top: 3rem;
  height: 100%;
  overflow-y: auto;
}

.categoriesList {
  display: flex;
  gap: 0.75rem;
  margin-top: 3.375rem;
}

.categoryItem {
  color: var(--color-purple-100);
  border: 1px solid var(--color-purple-100);
  padding: 0.5rem;
  border-radius: var(--radii-lg);
  cursor: pointer;
  background: transparent;
}

.categoryItem.selected,
.categoryItem:hover {
  background: var(--color-purple-200);
  border: 1px solid var(--color-purple-200);
  color: var(--color-gray-100);
}

.bookList {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
