.main {
  display: grid;
  grid-template-columns: 232px 1fr;
  height: 100%;
}

.content {
  padding-left: 6rem;
  padding-right: 4rem;
  padding-top: 3rem;
  height: 100%;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
