.searchForm {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-left: 1rem;
}

.inputWrapper {
  width: 100%;
  max-width: 433px;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-gray-500);
  background: var(--color-gray-800);
  border-radius: var(--radii-sm);
}

.inputWrapper input {
  padding: 0.875rem 1.25rem;
  width: 100%;
  color: var(--color-gray-400);
  background: var(--color-gray-800);
  border: 0;
  outline: 0;
}

.inputWrapper svg {
  margin-right: 0.5rem;
  color: var(--color-gray-500);
}

@media screen and (max-width: 768px) {
  .searchForm {
    padding-top: 1rem;
    padding-left: 0;
  }

  .inputWrapper {
    max-width: 100%;
  }
}
