.main {
  height: 100%;
  display: grid;
  grid-template-columns: 664px 1fr;
}

.leftPanel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(42, 40, 121, 0.9),
      rgba(42, 40, 121, 0.6)
    ),
    url("../../../public/login-background.png");
  border-radius: var(--radii-md);
  background-repeat: no-repeat;
  background-size: cover;
}

.loginOptionsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginOptionsContainer h1 {
  color: var(--color-gray-100);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-2xl);
}

.loginOptionsContainer p {
  color: var(--color-gray-200);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  margin-bottom: 2.5rem;
}

.loginOptionButton {
  width: 100%;
  color: var(--color-gray-200);
  font-size: var(--font-size-lg);
  background: var(--color-gray-600);
  padding: 1.25rem 1.5rem;
  border: 0;
  border-radius: var(--radii-md);
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1rem;
}

.loginOptionButton:hover {
  background: var(--color-gray-500);
}

.loginOptionButton svg {
  color: var(--color-purple-100);
}

@media screen and (max-width: 1280px) {
  .main {
    grid-template-columns: 1fr;
  }

  .leftPanel {
    display: none;
  }
}
