.signOutButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
}

.signOutButton svg {
  color: var(--color-danger);
}

@media screen and (max-width: 768px) {
  .signOutButton {
    font-size: var(--font-size-2xl);
  }
}
