.content {
  padding-left: 6rem;
  padding-right: 4rem;
  padding-top: 3rem;
  height: 100%;
  overflow-y: auto;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
