.main {
  --popularBooksMarginRight: 6.25rem;
  display: grid;
  grid-template-columns: 232px 1fr;
  height: 100%;
}

.content {
  padding-left: 6rem;
  padding-top: 3rem;
  height: 100%;
  overflow-y: auto;
}

.contentWrapper {
  gap: 4rem;
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: 1fr calc(324px + var(--popularBooksMarginRight));
}

.recentReviewTitle {
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
}

.recentReviewListContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 0.75rem;
}

.popularBooksContainer {
  margin-right: var(--popularBooksMarginRight);
}

.popularBooksContainer .popularBooksContainerTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popularBooksContainer .popularBooksContainerTitle > strong {
  color: var(--color-gray-100);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
}

.popularBooksContainer .popularBooksContainerTitle .seeMore {
  display: flex;
  align-items: center;
  color: var(--color-purple-100);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-sm);
  gap: 0.5rem;
}

.popularBooksContainer .popularBooksContainerList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 1.25rem;
}

@media screen and (max-width: 1280px) {
  .popularBooksContainer {
    margin-right: 0;
  }

  .contentWrapper {
    gap: 2rem;
  }

  .content {
    padding-left: 2rem;
  }

  .contentWrapper {
    grid-template-columns: 1fr 324px;
  }
}
