.main {
  display: grid;
  grid-template-columns: 232px 1fr 324px;
  height: 100%;
  /* max-width: 1440px;
  margin: 0 auto; */
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: var(--radii-md);
  padding-top: 2rem;

  background: linear-gradient(
    to bottom,
    #1b2041,
    #141923,
    #14162c,
    #141f34,
    #14242c
  );
}

.content {
  padding-left: 6rem;
  padding-right: 4rem;
  padding-top: 3rem;
  height: 100%;
  overflow-y: auto;
}

.recentReviewTitle {
  margin-top: 2.5rem;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
}

.recentReviewListContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 0.75rem;
}
