.main {
  --popularBooksMarginRight: 6.25rem;
  display: grid;
  grid-template-columns: 232px 1fr calc(324px + var(--popularBooksMarginRight));
  height: 100%;
  /* max-width: 1440px;
  margin: 0 auto; */
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: var(--radii-md);
  padding-top: 2rem;

  background: linear-gradient(
    to bottom,
    #1b2041,
    #141923,
    #14162c,
    #141f34,
    #14242c
  );
}

.content {
  padding-left: 6rem;
  padding-right: 4rem;
  padding-top: 3rem;
  height: 100%;
  overflow-y: auto;
}

.recentReviewTitle {
  margin-top: 2.5rem;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
}

.recentReviewListContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 0.75rem;
}

.popularBooksContainer {
  margin-right: var(--popularBooksMarginRight);
  margin-top: 7.5rem;
}

.popularBooksContainer .popularBooksContainerTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popularBooksContainer .popularBooksContainerTitle > strong {
  color: var(--color-gray-100);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
}

.popularBooksContainer .popularBooksContainerTitle .seeMore {
  display: flex;
  align-items: center;
  color: var(--color-purple-100);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-sm);
  gap: 0.5rem;
}

.popularBooksContainer .popularBooksContainerList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 1.25rem;
}

@media screen and (max-width: 1280px) {
  .popularBooksContainer {
    margin-right: 0;
  }

  .content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .main {
    grid-template-columns: 232px 1fr 324px;
  }
}
