.container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container h1 {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
}

.container svg {
  color: var(--color-green-100);
}
